<%inherit file="base.htm" />

<%block name="content">
%if request.user.has_perm('auth.view_analytics'):
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3">
                <h4>Available Analysis:</h4>
                <ul>
                    <li><a href='/homepage/amIHighRisk/'>Am I High Risk</a></li>
                    %if request.user.has_perm('homepage.view_doctor'):
                        <li><a href='/homepage/similarPrescribers/'>Find Similar Prescribers</a></li>
                        <li><a href='/homepage/visualizations/'>Individual Visualizations</a></li>
                    %endif
                    <li><a href='/homepage/maps/'>Map of Overall Prescriptions/Opiods</a></li>
                    <li><a href='/homepage/mapDeaths/'>Map of Opioid Related Deaths</a></li>
                    <li><a href='/homepage/specialtyComparator/'>Specialty Comparator</a></li>
                    <li><a href='/homepage/specialtyVisualization/'>Specialty Visualization</a></li>
                    <li><a href='/homepage/prescribersVisualization/'>Prescribers Visualization</a></li>
                </ul>
        
            </div>
        
            <div class="col-sm-6">
                <div class="content">
                    <div class="wrapper">
                        <div id="formContent">
                            <form method="POST">
                                <div><p>Enter Prescriber Information</p></div>
                                ${form.as_table()}
                                <input type="submit" value="Predict">
                                
                                <div><p></p></div>
                                
                            </form> 
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">
                <h4>Prediction:</h4>
                <p>At risk: <strong>${ atRisk }</strong></p>
                <p>There is a <strong>${ chance }%</strong> chance you will be at risk of prescribing opioids</p>
                

            </div>

        </div>
    </div>
%else:
    <h4>You are not authorized to view Analytics</h4>
%endif


</%block>