<%inherit file="base.htm" />

<%block name="content">
    <h4>Drug Jokes just for fun!</h4>

    <table class="table table-striped table-bordered table-hover" id='drugTable'>
        <caption style="caption-side: top">&nbsp;</caption>
        <thead class="thead-dark">
            <tr>
                <th>Jokes</th>                 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>I bought some shoes from a drug dealer. I don't know what he laced them with, but I've been tripping all day.</td>
            </tr>
            <tr>
                <td>I know I know, smoking's bad for me and all. But, my mama told me never to be a quitter.</td>
            </tr>
            <tr>
                <td>What do crabs smoke? Seaweed.</td>
            </tr>
            <tr>
                <td>What's the difference between a sidewalk, a drug dealer, and a prostitute? Sidewalks crack doesn't leave an odor!</td>
            </tr>
            <tr>
                <td>I swear to drunk I'm not God, but seriously, stay in drugs, eat school, and don't do vegetables.</td>
            </tr>
            <tr>
                <td>What does a wizard say when doing drugs? Injecto Patronum!</td>
            </tr>
        </tbody>

    </table>

</%block>