<%inherit file="base.htm" />

<%block name="content">
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3">
            <h4>List all prescibers here they could edit</h4>           
    
            <ul>
                <li>presciber</li>
                <li>presciber</li>
                <li>presciber</li>
                <li>presciber</li>
            </ul>
    
        </div>
        <div class="col-sm-9">
            <div class="content">
                <div class="wrapper">
                    <div id="formContent"> 
                        <div>
                            <p></p>
                        </div>
                        <form method="POST">
                            ${form.as_table()}
                            <input type="submit" value="Submit">
                        </form>                   
                                                            
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</%block>