<%inherit file="base.htm" />

<%block name="content">

<div class="container-fluid">
    <div class="row content">
      <div class="col-sm-6">
        <h4>Prescribers</h4>
        
        %if request.user.has_perm('auth.can_search'):
            <div class="input-group">
                <input type="text" class="form-control" id="prescriberInput" placeholder="Search Prescribers..">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="prescriberBtn">Search</button>
                </span>          
            </div>
            <p><small>(Search by: name, gender, credentials, location, or specialty)</small></p>
        %endif
        

        <table class="table table-striped table-bordered table-hover" id='doctorTable'>
                <caption style="caption-side: top">*Only the top 100 Prescribers are shown</caption>
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Specialty</th>
                        <th>Total Prescriptions</th>                       
                    </tr>
                </thead>
                <tbody>
                    %for i in range (len(prescribers)):
                    
                        <tr> 
                            %if request.user.has_perm('homepage.view_doctor'):
                                <td><a href='/homepage/prescriberDetails/${ prescribers[i].DoctorID }/'> ${ prescribers[i].Fname } ${ prescribers[i].Lname }</a>  </td>                     
                            %else:
                                <td><a href='/homepage/prescriberDetails/${ prescribers[i].DoctorID }/'>${ prescribers[i].DoctorID }</a></td>
                            %endif
                            <td>${ prescribers[i].Specialty }</td>
                            <td>${ prescribers[i].TotalPrescriptions }</td>    
                                    
                        </tr>   
                        
                    %endfor
                </tbody>
    
            </table>


      </div>
  
      <div class="col-sm-6">
            <h4>Drugs</h4>

            %if request.user.has_perm('auth.can_search'):
                <div class="input-group">
                    <input type="text" class="form-control" id="drugInput" placeholder="Search Drugs..">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="drugBtn">Search</button>
                    </span>
                </div>
                <p><small>(Search by: name, or IsOpioid)</small></p>
            %endif

            <table class="table table-striped table-bordered table-hover" id='drugTable'>
                    <caption style="caption-side: top">&nbsp;</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Is Opioid</th>                  
                        </tr>
                    </thead>
                    <tbody>
                        %for i in range (len(opioids)):  
                        <tr> 
                            <td><a href='/homepage/drugDetails/${ opioids[i].id }/'>${ opioids[i].DrugName }</a></td>                     
                            <td>${ opioids[i].IsOpioid }</td>           
                        </tr>          
                        %endfor
                    </tbody>
        
                </table>

      </div>
    </div>
</div>

</%block>