<%inherit file="base.htm" />

<%block name="content">

<div class="container-fluid">
        <div class="row content">
          <div class="col-sm-3">
            %if request.user.has_perm('homepage.view_doctor'):
                <h4><b>${ prescriber.Fname } ${ prescriber.Lname }</b></h4>
            %else:
                <h4><b>${ prescriber.DoctorID }</b></h4>
            %endif

            <ul>
                <li>Gender: <strong>${ prescriber.Gender }</strong></li>
                <li>Credentials: <strong>${ prescriber.Credentials }</strong></li>
                <li>Location: <strong>${ prescriber.State }</strong></li>
                <li>Specialty: <strong>${ prescriber.Specialty }</strong></li>
            </ul>

            %if request.user.has_perm('auth.view_analytics'):
                %if request.user.has_perm('homepage.view_doctor'):
                    <input type="text" class="form-control" style="display: none" id="prescriberInput" value="${prescriber.DoctorID}">
                    <input type="submit" value="See Related Doctors" id="seeRelated">
                %endif
            %endif
   
            <ul id='relatedDoctors'>
                <li></li>
            </ul>
    
          </div>
      
          <div class="col-sm-9">

            <table class="table table-striped table-bordered table-hover">
                %if request.user.has_perm('homepage.view_doctor'):
                    <caption style="caption-side: top">Drugs prescribed by ${ prescriber.Fname } ${ prescriber.Lname }:</caption>
                %else:
                    <caption style="caption-side: top">Drugs prescribed by ${ prescriber.DoctorID }:</caption>
                %endif
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        %if request.user.has_perm('homepage.view_doctor'):
                            <th>Qty prescribed by ${ prescriber.Fname } ${ prescriber.Lname }</th>
                        %else:
                            <th>Qty prescribed by ${ prescriber.DoctorID }</th>
                        %endif
                        <th>Avg Qty prescribed by all doctors</th>                 
                    </tr>
                </thead>
                <tbody>
                    %for i in range (len(drugs)):  
                    <tr> 
                        <td><a href='/homepage/drugDetails/${ mydrugs[i].id }/'>${ drugs[i].DrugName }</a></td>  

                        <td>
                            ${ drugs[i].Qty }
                            <div style="float:right;"><a href='/homepage/editDrug/${ prescriber.DoctorID }/${ drugs[i].DrugName }/'><button class="btn btn-primary" id="editBtn">Edit</button></a></div>    
                            </td>
                        <td>${ drugAvg[i].Qty }</td>          
                    </tr>          
                    %endfor
                </tbody>
    
            </table>

            <a href='/homepage/addDrug/${ prescriber.DoctorID }/'><button class="btn btn-primary" id="addBtn">Add New Prescription</button></a>

            
    
          </div>

        </div>
    </div>

</%block>