<%inherit file="base.htm" />

<%block name="content">
%if request.user.has_perm('auth.view_analytics'):
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3">
                <h4>Available Analysis:</h4>
                <ul>
                    <li><a href='/homepage/highestOpioidPrescribers/'>Highest Opioid Prescribers</a></li>
                    <li><a href='/homepage/amIHighRisk/'>Am I High Risk</a></li>
                    %if request.user.has_perm('homepage.view_doctor'):
                        <li><a href='/homepage/similarPrescribers/'>Find Similar Prescribers</a></li>
                        <li><a href='/homepage/visualizations/'>Individual Visualizations</a></li>
                    %endif
                    <li><a href='/homepage/maps/'>Map of Overall Prescriptions/Opiods</a></li>
                    <li><a href='/homepage/mapDeaths/'>Map of Opioid Related Deaths</a></li>
                    <li><a href='/homepage/specialtyComparator/'>Specialty Comparator</a></li>
                    <li><a href='/homepage/specialtyVisualization/'>Specialty Visualization</a></li>
                    <li><a href='/homepage/prescribersVisualization/'>Prescribers Visualization</a></li>
                </ul>
        
            </div>
        
            <div class="col-sm-6">
                    <caption style="caption-side: top">Enter a Prescriber's ID to see similar Prescribers</caption>
                <div class="content">
                    <div class="wrapper">
                        <div id="formContent">    
                                
                            <form method="POST">
                                    ${form.as_table()}
                                    <input type="submit" value="Predict">
                                </form>   
                                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <h4>Similar Prescribers:</h4>

                <ul>
                %for i in range (len(doctors)):     
                    %if i == 0:
                        <li><a href='/homepage/prescriberDetails/${ doctors[i].DoctorID }/'>Current Prescriber : <strong>${ doctors[i].Fname } ${ doctors[i].Lname }</strong></a></li> 
                    %else:
                        <li><a href='/homepage/prescriberDetails/${ doctors[i].DoctorID }/'><strong>${ doctors[i].Fname } ${ doctors[i].Lname }</strong></a></li> 
                    %endif                                                    
                %endfor
                </ul>
                

            </div>

        </div>
    </div>
%else:
    <h4>You are not authorized to view Analytics</h4>
%endif


</%block>